/CheckerClass.class
/CheckerClasses.class
/CommandHandler.class
/InstrumentHandler$Arguments.class
/InstrumentHandler.class
/InstrumentVisitor$InvProp.class
/InstrumentVisitor.class
/Main.class
/MalformedPropertyException.class
/Property$Kind.class
/Property.class
/Runtime.class
/Violation$Time.class
/Violation.class
/WriteViolationFile.class
