/SequenceInitial.class
/SequenceInitialFactory.class
/SequenceInitialFactoryFloat.class
/SequenceInitialFloat.class
/SequenceLength.class
/SequenceLengthFactory.class
/SequenceMax.class
/SequenceMin.class
/SequenceMinMaxSumFactory.class
/SequenceSum.class
/StringLength.class
/StringLengthFactory.class
/UnaryDerivation.class
/UnaryDerivationFactory.class
