/ConsequentCVFPairComparatorTester.class
/ConsequentCVFSortComparatorTester.class
/DetailedStatisticsVisitorTester.class
/DiffDummyInvariant.class
/DiffTester.class
/InvMapTester.class
/MinusVisitorTester.class
/PrintDifferingInvariantsVisitorTester.class
/UnionVisitorTester.class
/XorVisitorTester.class
/package-info.class
